.container {
  width: 60%;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  background: aquamarine;
}
